<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="/assets/logo-header.png" alt="logo" height="32"> &nbsp;
    <span class="fs-4">{{ site.title }}</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link text-dark" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link text-dark">About</a></li>
  </ul>
</header>
